.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
background-color: lightgray;
border-radius: 10px;
}

.sidebarRow > p {
    margin-left: 20px;
    font-size:large;
   
}

.sidebar_top {
    padding: 25px 10px;
    flex: 0.33;
}
